article > p,
h1,
h3 {
  color: #2f3542;
}
article button {
  color: #fff;
  background: #747d8c;
  border: none;
  width: 70px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}
article > button:hover {
  background: #ff4757;
}
