.navbar__main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}
.navbar__main_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar__main li {
  display: inline;
  list-style: none;
  margin: 0 1rem;
}
.navbar__main a,
h2 {
  text-decoration: none;
  color: #2f3542;
}
.navbar__main a:hover {
  color: #747d8c;
  border-bottom: 3px solid #747d8c;
}
